
:host {
    display: block;
    font-family: Arial, sans-serif;
    --primary-color: #00205B;
    --secondary-color: #003080;
    --background-color: #f9fafb;
    --border-color: #d1d5db;
    --text-color: #333;
    --error-color: #ef4444;
}
header {
    background-color: rgb(29, 6, 90);
    color: white;
    padding: 1rem;
    text-align: center;
    margin: -1rem -1rem 1rem -1rem;
}


